
/.metadata/.lock
/.metadata/.mylyn/repositories.xml.zip
/.metadata/.mylyn/tasks.xml.zip
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.0.100.20110804-1717.xml
/.metadata/.plugins/org.eclipse.team.cvs.core/.running
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_ercp.png
/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_gwt.png
/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_swing.png
/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_swt.png
/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_xwt.png
/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkits.xml
/.metadata/version.ini